body{
    padding: 0;
    margin: 0;
}

.header-container{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: white;
}

.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 10px 24px; 
}

.link-left{
    font-size: 24px;
}
.link-right{
    font-size: 18px;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.header-content{
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.header-left{
    /*flex: 2;*/
}

.header-right{
   /* flex: 1;*/
    background-color: gray;
    flex-grow: 1;
    flex-basis: 50%;
    max-width: 500px;
    padding: 80px;
    text-align: center;
}

.button-first{
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
}



/* second section*/

.square{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.cards{
    display: flex;
    align-items: center
}

.squareimg{
    background-color: white;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.top-content{
    margin-bottom: 30px;
    font-size: 36px;
    font-style: 800;
}

.squareimg{
    margin-bottom: 10px;
}


/*Third section*/

.third-section {
    margin-top: 40px;
    background-color: lightgray;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center; 
    padding: 20px; 
    text-align: center; 
}

.quote {
   /* position: relative; */
    max-width: 600px; 
    padding: 20px; 
    font-size: 36px;
}

.author {
  /*  position: absolute; */
    right: 0; 
    bottom: 0; 
}


.fourth-section{
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-container{
    background-color: #3882F6;
    min-height: 300px;
    min-width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-radius: 10px;
}

.button-second{
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    padding: 10px 30px;
}


/*Footer*/

.footer{
    display: flex;
    background-color: #1f2937;
    color: white;
    min-height: 100px;
    justify-content: center;
    align-items: center;
}
